.header {
  height: 520px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://www.transparenttextures.com/patterns/fresh-snow.png");
  background-color: #49d1ba;
  padding-top: 120px;
}

.name {
  margin-top: -0.5em;
}