.nav-bar {
  height: 120px;
  width: 100%;
  background-color: #4056a1;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}

.logo {
  margin: 1.5em;
  font-family: 'Bungee', cursive;
}

.tweeter {
  margin: 1.5em;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width:1024px) {

  .nav-bar {
    background-image: url("https://www.transparenttextures.com/patterns/fresh-snow.png");
    background-color: #49d1ba;
    position: fixed;
  }

  .logo {
    color: black;
  }

  .tweeter {
    color: black;
  }

}

@media only screen and (min-width: 361px) and (max-width: 420px) {

  .nav-bar {
    background-image: url("https://www.transparenttextures.com/patterns/fresh-snow.png");
    background-color: #49d1ba;
    position: fixed;
  }

  .logo {
    color: black;
    font-size: smaller;
  }

  .tweeter {
    font-size: smaller;
    color: black;
  }

}

@media only screen and (max-width: 360px) {

  .nav-bar {
    background-image: url("https://www.transparenttextures.com/patterns/fresh-snow.png");
    background-color: #49d1ba;
  }

  .logo {
    color: black;
    font-size: small;
  }

  .tweeter {
    font-size: small;
    color: black;
  }

}